@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kanit", sans-serif;
}
.container{
	max-width: 1250px;
}
.nav-bar{
	margin-top: 0 !important;
}
.navbar-nav{
	margin-left: 70px;
}
.navbar-brand{
	font-size: 40px;
	font-weight: 600;
}
.navbar-brand span{
	color: blue;
	border-radius: 50%;
} 
.nav-link{
	padding-right: 30px !important;
	color: black !important;
	font-weight: 600;
}
.nav-container{
	position: relative;
}
.nav-social{
	position: absolute;
	top: 1;
	right: 20px;
	font-size: 20px;
	gap: 25px;
}
.nav-social i{
	cursor: pointer;
}
.search-icon{
	margin-left:40px;
}

/*top Articles*/

.top-art{
	padding: 40px 0;
	background-color: #d8e9f55c;
}
.topArtGroup{
	gap: 35px;
}
.card{
	background-color: transparent !important;
	border: none;
    border-radius: 0;
}
.text-body-secondary{
	color: black;
	font-weight: 600;
}
.card img{
	border-radius: 0;
}
.l-text{
	font-weight: 300;
	font-size: 13px	;
	color:#7a7a7a !important;
}
.colorTxt{
	color: darkgray;
}

/*ppl Articles*/

.sideCardTxt{
	font-size: 17px;
}

/*main Slider*/

.mainSlider{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*footer*/
.input-group-text{
	cursor: pointer;
	font-size: 14px;
	border-radius: 0 !important;
}

.form-control{
	outline: none;
	border-radius: 0;
}
.form-control:focus{
	border-color: lightgray;
	box-shadow: none;
	outline: none;
}

.form-control::placeholder {
	font-weight: 300;
	font-size: 13px;
  color: lightgray;
}
.fa-brands{
	cursor: pointer;
}
